@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media1.giphy.com/media/3o7btPCcdNniyf0ArS/giphy.gif?cid=b8b5e1cc7d1b98d5cb2d9964ab75722fe765b6270c65cf16&rid=giphy.gif);
  font-family: "Open Sans";
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 25px 50px;
  height: 5vh;
  overflow: hidden;
}

button {
  border-radius: 8px;
  border: none;
  font-size: 18px;
  margin-right: 10px;
}

#tasks {
  display: flex;
  justify-content: center;
  align-items: space-around;
  overflow: hidden;
}

#task {
  margin-right: 10px;
  border-radius: 8px;
  font-size: 18px;
  overflow: hidden;
}


#answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#do {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#dothis {
  font-size: 30px;
}


.responses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 95vh;
  text-align: center;
}

.responses:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#yes {
  background-color: green;
  padding: 20px 50px;
}


#no {
  background-color: red;
  padding: 20px 50px;
}

#tasks input {
  padding: 10px 50px;
}
#add {
  padding: 10px 20px;
}




@media only screen and (max-width: 700px) {
  nav h1 {
    font-size: 25px;
  }
  nav {
    padding: 25px 20px;
  }
  #tasks input {
    padding: 0px 10px;
  }
  #add {
    padding: 0px 10px;
    background-color: white;
    font-size: 16px;
  }
  #yes {
    background-color: green;
    padding: 5px 20px;
  }
  #no {
    background-color: red;
    padding: 5px 20px;
  }

  .responses h1 {
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
  }
  .responses p {
    margin-left: 20px;
    text-align: left;
  }
  #answer p,
  #answer h3 {
    margin: 10px 5px;
  }
  
}
