@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: white;
  font-family: "Open Sans";
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: 0 0;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5)
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

#tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8)
}


#answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#do {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#dothis {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
}


.responses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}

#yes {
  background-color: green;
  padding: 20px 50px;
}


#no {
  background-color: red;
  padding: 20px 50px;
}

#tasks input {
  padding: 10px 50px;
}
#add {
  padding: 10px 50px;
}
