@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://media1.giphy.com/media/3o7btPCcdNniyf0ArS/giphy.gif?cid=b8b5e1cc7d1b98d5cb2d9964ab75722fe765b6270c65cf16&rid=giphy.gif);
  font-family: "Open Sans";
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  text-shadow: 2px 2px 5px black;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 25px 50px;
  height: 10vh;
  overflow: hidden;
}

header {
  height: 30vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

li {
  font-size: 25px;
  text-align: left;
}
button {
  border-radius: 8px;
  border: none;
  font-size: 18px;
  margin-right: 10px;
}

#tasks {
  display: flex;
  justify-content: center;
  align-items: space-around;
  overflow: hidden;
}

#task {
  margin-right: 10px;
  border-radius: 8px;
  font-size: 18px;
  overflow: hidden;
}

#next {
  margin-top: -100px;
  margin-left: 20px;
  padding: 5px 10px;
  display: none;
}


#answer {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


#do {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#dothis {
  padding-top: 150px;
  font-size: 30px;
}


.responses {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  text-align: center;
}

.responses:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#yes {
  background-color: green;
  padding: 20px 50px;
}


#no {
  background-color: red;
  padding: 20px 50px;
}

#tasks input {
  padding: 10px 50px;
}
#add,
#done {
  padding: 10px 20px;
  background-color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
}

#next {
  background-color: white;
  height: 40px;
  margin-top: -300px;
}




@media only screen and (max-width: 700px) {
  header {
    padding-top: 150px;
  }

  #dothis {
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
  }
  #next {
    background-color: white;
    height: 40px;
    margin-top: -200px;
  }
}
